/* 
	Css rules
	syntax:
		selector{
			property:	value;
		}
 */	

h1{
	color: yellow !important;
	font-size: 30px;

}


/*
	1. UNIVERSAL SELECTOR
	Css reset & change font of every element in HTML
*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*{
	font-family: courier-new, monospace;
	font-size: 20px;
}


/*
	2. TYPE SELECTOR
*/
body{
	background-color: skyblue;
}


/*
	3. ATTRIBUTE SELECTOR
*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}	


/*
	4. CLASS SELECTOR
*/
.offering-item{
	text-transform: uppercase;
}


/*
	5. ID SELECTOR
*/
#zuitt-motto{
	letter-spacing: 5px;
}


/*
	CSS SELECTORS COMBINATORS
*/
/*
	ADJACENT SIBLING SELECTOR
	---
	sibling element + target element{
		property: value;
	}	
*/
h3 + img{
	height: 300px;#
	width: 300px;
	border-radius: 150px;
}


/*
	GENERAL SIBLING SELECTOR
	---
	sibling ~ target-element{
	property: value;
	}
*/
h2 ~ a, a{
	text-decoration: none;
}

/*
	CHILD SELECTOR
	---
	selector1 > selector2{
	property: value;
	}	
*/
body > section > form > label{
	color: green;
}


/*
	DESCENDANT SELECTOR
	---
	selector1 selector2{
	property: value;
	}
*/
#bootcamp-learning-list li{
	color: #075966;
}

html{
	scroll-behavior: smooth;
}


/*
	NAVIGATION BAR
*/
nav{
	background-color: white;
}

/*SELECTOR: HOVER PSEUDO CLASS*/
/*Changes the style when hovered over*/
a:hover{
	background-color: black;
}

/*DIV for the nav bar*/
div{
	display: inline-block;
	float: right;
}

/*LANDING SECTION and FORM SECTION*/
section{
	height: 100vh;
	text-align: center;
}

/*WELCOME TO ZUITT AND REGISTER*/
h2{
	font-size: 1.5 rem;
}

/*List: remove number*/
ol{
	list-style-type: none;
}

/*REGISTER FORM*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius:2px;
	margin-top: 4px;

}

