#p3{
	color: yellow ;
}

*{
	font-family: Verdana, sans-serif;
}

h1{
	font-size: 75px;
}

#h2{
	text-transform: uppercase;
}

.html, .css, .javascript{
	background-color: lightgreen;
}

li[id]{
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
	width: 100%;
}

.n + .e, .e + .r, .r + .m, .n{
	list-style-type: none;
}

body img{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

h4 ~ p{
	text-align: center;
}

section > ul > li{
	letter-spacing: 10px;
}